<div *ngIf="itemChanges">
  <a href="/api/ims/v1/items/{{itemId}}/history/csv" class="btn btn-default btn-xs mb-sm"><i class="fa fa-cloud-download"></i> Download History</a>
  <div *ngFor="let history of itemChanges;
               let index = index;
               let isOdd = odd;
               let isEven = even;">
    <div class="thumbnail mb-sm">
      <div class="row">
        <span class="col-xs-3">User:</span>
        <div class="col-xs-9">{{history.changedBy}}</div>
      </div>
      <div class="row">
        <span class="col-xs-3">Time:</span>
        <div class="col-xs-9">{{history.changedOn | date:'short'}}</div>
      </div>
      <div class="row">
        <span class="col-xs-3">Message:</span>
        <div class="col-xs-9">{{history.message}}</div>
      </div>
      <div *ngIf="history.parentHistoryId">
          <button class="btn btn-default btn-xs" (click)="openItemDiff($event, history.historyId)"><i class="fa fa-exchange"></i> Show Changes</button>
      </div>
    </div>
  </div>
</div>
