<div *ngIf="itemChanges">
  <div class="text-center">
    <button class="btn btn-sm btn-info">Export to CSV</button>
  </div>
  <div *ngFor="let history of itemChanges;
               let index = index;
               let isOdd = odd;
               let isEven = even;">
    <div class="box" [class.odd]="isOdd" [class.even]="isEven">
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">User:</label>
          <div class="col-lg-9">{{history.changedBy}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Time:</label>
          <div class="col-lg-9">{{history.changedOn | date:'short'}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Message:</label>
          <div class="col-lg-9">{{history.message}}</div>
        </div>
      </div>
      <div *ngIf="history.parentHistoryId" class="row">
          <button class="btn btn-link" (click)="openItemDiff($event, history.historyId)">Show Changes</button>
      </div>
    </div>
  </div>
</div>
