<div *ngIf="itemChanges">
  <a href="/api/ims/v1/items/{{itemId}}/history/csv" class="btn btn-default btn-xs mb-sm"><i class="fa fa-cloud-download"></i> Download History</a>
  <div *ngFor="let history of itemChanges;
               let index = index;
               let isOdd = odd;
               let isEven = even;">
    <div class="thumbnail mb-sm">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <strong>{{history.changedOn | date:'short'}}</strong><br />
            {{history.changedBy}} <em>{{history.message}}</em>
          </p>
        </div>
      </div>
      <div *ngIf="history.parentHistoryId" class="mb-sm">
          <button class="btn btn-default btn-xs" (click)="openItemDiff($event, history.historyId)"><i class="fa fa-exchange"></i> Show Changes</button>
      </div>
    </div>
  </div>
</div>
