<nav class="navbar navbar-toggleable-md navbar-light navbar-static-top">
    <div class="d-flex justify-content-between">
      <h1 class="navbar-brand">
        <img src="/assets/images/brand_sbac.png" width="40px" height="40px" class="d-inline-block align-top" alt=""/>
      </h1>
      <span class="mt-auto mb-auto ml-auto">
        <button class="navbar-toggler " type="button" (click)="isCollapsed = !isCollapsed"
                aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </span>
    </div>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsingNavbar">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">Smarter App - Item Authoring Tool</li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item mb-2 mr-3">
          <span *ngIf="user">{{user.fullName}}</span>
        </li>
        <li class="nav-item mb-2">
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
</nav>
