<div *ngIf="itemHistory">
  <div *ngFor="let history of itemHistory;
               let index = index;
               let isOdd = odd;
               let isEven = even;">
    <div class="well" [class.odd]="isOdd" [class.even]="isEven">
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Changed by:</label>
          <div class="col-lg-9">{{history.changedBy}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Time:</label>
          <div class="col-lg-9">{{history.changedOn}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Message:</label>
          <div class="col-lg-9">{{history.message}}</div>
        </div>
      </div>
      <div *ngIf="history.parentHistoryId" class="row">
        <div class="form-group">
          <button class="btn btn-link" (click)="openItemDiff($event, history.historyId)">Show Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
