# See http://help.github.com/ignore-files/ for more about ignoring files.

# security is local dev only
/security
application-security.yml
ap-iat-security.zip
# compiled output
/src/main/resources/static
/dist
/tmp
/classes

# dependencies
/node_modules

# IDEs and editors
/.idea
AP_ItemAuthoringTool.iml
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
