<table *ngIf="itemValidationErrors" class="table table-condensed table-hover table-striped">
  <thead>
  <tr>
    <th>Category</th>
    <th>Severity</th>
    <th>Message</th>
    <th>Detail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let validationError of itemValidationErrors; let i=index">
    <td>{{validationError.category}}</td>
    <td>{{validationError.severity}}</td>
    <td>{{validationError.message}}</td>
    <td>{{validationError.detail}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="!itemValidationErrors" class="alert alert-warning">
  <p><em>No validation errors reported.</em></p>
</div>
