<table *ngIf="itemValidationErrors && itemValidationErrors.length > 0" class="table table-condensed table-hover table-striped">
  <thead>
  <tr>
    <th>Message</th>
    <th>Detail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let validationError of itemValidationErrors; let i=index">
    <td>{{validationError.message}}</td>
    <td class="break">{{validationError.detail}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="itemValidationErrors && itemValidationErrors.length === 0" class="alert alert-warning">
  <p><em>No validation errors reported.</em></p>
</div>
