<div *ngIf="itemValidationResults && itemValidationResults.validationResults && itemValidationResults.validationResults.length > 0">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong>{{itemValidationResults.validationDateTime | date:'short'}}</strong><br/>
                {{itemValidationResults.validatedCommitUserName}}
                <em>{{itemValidationResults.validatedCommitMessage}}</em><br/>
            </p>
            <div *ngIf="itemValidationResults.areValidationResultsStale" class="alert alert-warning">
                <em>Validation results do not reflect the latest commit</em>
            </div>
        </div>
    </div>

    <table class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th>Message</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let validationResult of itemValidationResults.validationResults; let i=index">
            <td>{{validationResult.message}}</td>
            <td class="break">{{validationResult.detail}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="itemValidationResults && itemValidationResults.validationResults && itemValidationResults.validationResults.length === 0"
     class="alert alert-warning">
    <p><em>No validation errors reported.</em></p>
</div>
