<div class="well white not-first-child-well">
  <div class="well-body">
    <item-prompt [label]="'Prompt / Stem'"
                 [rows]="6"
                 [isFocused]="true"
                 [isReadOnly]="isReadOnly"
                 [text]="item.prompt"
                 (textChange)="onItemChange()">
    </item-prompt>
  </div>
</div>

<div class="well white">
  <div class="well-body">
    <item-ms-options [isReadOnly]="isReadOnly"
                     [options]="item.options"
                     (optionsChange)="onItemChange()">
    </item-ms-options>
  </div>
</div>
