<!-- Label -->
<span class="h5 mt-sm">Options</span>
<p class="small">Select an option to indicate the correct answer.</p>

<form [formGroup]="form">
  <!-- Options -->
  <div formArrayName="options">
    <div *ngFor="let control of formOptions.controls; let i=index" [formGroupName]="i" class="form-group mb-md">
      <div class="form-group">
        <!-- Correct answer radio button -->
        <div class="radio input-combo">
          <label>
            <input type="radio"
                   name="isCorrectAnswer"
                   formControlName="isCorrectAnswer"
                   title="Correct Answer"
                   [checked]="control.value.isCorrectAnswer"
                   [value]="true"
                   (change)="onOptionSelected(i)"
                   class="input-sm">
          </label>
          <!-- Text -->
          <ckeditor
            formControlName="text"
            title="Text"
            [config]="{
              toolbar: 'IAT',
              readOnly: isReadOnly,
              height: 80,
              width: 450
            }"
            debounce="500">
          </ckeditor>

          <!-- Remove icon -->
          <a *ngIf="!isReadOnly" (click)="removeOption(i)" class="btn btn-default pull-right btn-borderless">
            <i class="fa fa-minus-circle"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- "No options" message -->
    <div *ngIf="formOptions.length === 0">
      <em>No options</em>
    </div>

    <!-- Add options button -->
    <button *ngIf="!isReadOnly" class="btn btn-primary btn-xs" (click)="addOption()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add Option
    </button>
  </div>
</form>
