<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-default" role="navigation">

          <!-- App title -->
          <div class="navbar-header">
            <!-- App logo -->
            <a class="navbar-brand" routerLink="/" title="Reporting System Dashboard">
              <img src="/assets/images/SmarterBalanced-Logo.png"
                   alt="Smarter Balanced Assessment Consortium">
            </a>

            <!-- App name -->
            <span class="application-title">Item Authoring Tool</span>
          </div>

          <!-- User name drop-down -->
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" dropdown>
                <a href="#" (click)="false" dropdownToggle class="dropdown-toggle btn-sm" data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fa fa-user-circle"></i>
                  <span *ngIf="user">{{user.fullName}}</span>
                  <span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <!--<li role="menuitem"><a href="#">Action</a></li>-->
                  <!--<li role="menuitem"><a href="#">Another action</a></li>-->
                  <!--<li role="menuitem"><a href="#">Something else here</a></li>-->
                  <!--<li role="separator" class="divider"></li>-->
                  <li role="menuitem"><a href="#" (click)="staticModal.show()">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Log out confirmation dialog -->
<div id="myModal"
     class="modal fade"
     bsModal
     #staticModal="bs-modal"
     [config]="{backdrop: 'static'}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Log Out?</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logOut()">Log Out</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" (click)="staticModal.hide()">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
