<div class="container" style="padding-top: 1em;padding-bottom: 1em">

  <!--
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="#one" role="tab" data-toggle="tab">Tab 1</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#two" role="tab" data-toggle="tab">Tab 2</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#three" role="tab" data-toggle="tab">Tab 3</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#metadata" role="tab" data-toggle="tab">Metadata</a>
    </li>
  </ul>
  -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="one">
      <div class="container">
        <div class="row">
          <div class="col" style="border: 1px solid rgba(86,61,124,.2);">
            <div class="row">
              <div class="col">
                <span>Prompt / Stem</span>
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col">
                <i class="fa fa-bold fa-2x"></i>
                <i class="fa fa-italic fa-2x"></i>
                <i class="fa fa-underline fa-2x"></i>
                <i class="fa fa-table fa-2x"></i>
                <i class="fa fa-list fa-2x"></i>
                <i class="fa fa-image fa-2x"></i>
                <i class="fa fa-music fa-2x"></i>
              </div>
            </div>
            -->
            <div class="row">
              <div class="col">
                <textarea class="form-control" rows="15" style="min-width: 100%"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span>Exemplar Responses</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ol>
                  <li><i class="fa fa-paperclip"></i>&nbsp;Response 1&nbsp;<i class="fa fa-hourglass">&nbsp;</i> <i class="fa fa-trash"></i></li>
                  <li><i class="fa fa-paperclip"></i>&nbsp;Response 2&nbsp;<i class="fa fa-hourglass">&nbsp;</i> <i class="fa fa-trash"></i></li>
                  <li><i class="fa fa-paperclip"></i>&nbsp;Response 3&nbsp;<i class="fa fa-hourglass">&nbsp;</i> <i class="fa fa-trash"></i></li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-secondary" routerLink="/">Add Exemplar Response</button>
              </div>
            </div>
          </div>


          <div class="col" style="border: 1px solid rgba(86,61,124,.2);">
            &nbsp;
          </div>
        </div>

      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="two">Profile Tab.</div>
    <div role="tabpanel" class="tab-pane" id="three">Messages Tab.</div>
    <div role="tabpanel" class="tab-pane" id="metadata">Settings Tab.</div>
  </div>

</div>
