<!-- Prompt -->
<div class="row">
  <div class="col-lg-12">
    <item-prompt [label]="'Prompt / Stem'"
                 [rows]="6"
                 [isFocused]="true"
                 [isReadOnly]="isReadOnly"
                 [text]="item.prompt"
                 (textChange)="onItemChange()">
    </item-prompt>
  </div>
</div>

<!-- Exemplar responses -->
<div class="row">
  <div class="col-lg-12">
    <item-exemplar-responses [isReadOnly]="isReadOnly"
                             [exemplarResponses]="item.exemplarResponses"
                             (exemplarResponsesChange)="onItemChange()">
    </item-exemplar-responses>
  </div>
</div>
