<div class="container w-100" style="padding-top: 1em;padding-bottom: 1em">

        <div class="row">
          <div class="col-6" style="border: 1px solid rgba(86,61,124,.2);">
            <div class="row">
              <div class="col">
                <span>Prompt / Stem</span>
              </div>
            </div>
            <!--
            TODO: Rich Text editor goes here
            -->
            <div class="row">
              <div class="col">
                <textarea id="prompt-stem" class="form-control" rows="15" style="min-width: 100%"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span>Exemplar responses</span>
              </div>
            </div>

            <div class="row">
              <div class="col">

                <div class="row" *ngFor="let response of responses">
                  <div class="col-11">
                    <textarea id="response-{{response.id}}" class="form-control" rows="3" style="min-width: 100%">{{response.text}}</textarea>
                  </div>
                  <div class="col-1">
                    <a (click)="removeResponse(response.id)"><i class="fa fa-trash"></i></a>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col">
                <button class="btn btn-secondary" (click)="addResponse()">Add exemplar response</button>
              </div>
            </div>

          </div>

          <div class="col-6" style="border: 1px solid rgba(86,61,124,.2);">
            &nbsp;
            <!--
            TODO: Item details Tabs go here
            -->
          </div>

        </div>

</div>

<ng-template confirm>
  <app-confirm-modal-component></app-confirm-modal-component>
</ng-template>
