<!-- Prompt -->
<div class="well white not-first-child-well">
  <div class="well-body">
    <item-prompt [label]="'Prompt / Stem'"
                 [rows]="6"
                 [isFocused]="true"
                 [isReadOnly]="isReadOnly"
                 [text]="itemContext.item.core.prompt"
                 (textChange)="onItemChange()">
    </item-prompt>
  </div>
</div>

<!-- Table -->
<div class="well white">
  <div class="well-body">
    <item-mi-table [isReadOnly]="isReadOnly"
                   [table]="itemContext.item.core.table"
                   (tableChange)="onItemChange()">
    </item-mi-table>
  </div>
</div>
