<section class="main">
  <div *ngIf="!isLoading" class="container">
    <div *ngIf="!isError">

      <!-- Right header -->
      <div class="pull-right">

        <!-- Auto-save -->
        <item-auto-save #autoSave
                        [enabled]="itemContext.isUserCreatingItem(currentUser.userName) || itemContext.isUserEditingAnySection(currentUser.userName)"
                        [debounceTimeMillis]="3000">
        </item-auto-save>

      </div>

      <!-- Item title -->
      <button class="btn btn-default btn-sm pull-left mr-xs" (click)="goHome()">
        <i class="fa fa-chevron-left"></i>
      </button>
      <h1 class="h2 label-group blue">
        <span class="label"><span class="label"><i class="fa {{itemContext.item.itemType.icon}}"></i></span> {{itemContext.item.id}}</span><span
        class="label">{{itemContext.item.itemType.name}} <span>( {{itemContext.item.itemType.code | uppercase}} )</span></span>
      </h1>

      <!-- Body -->
      <div class="row">

        <!-- Left body -->
        <div id="slide-panel" class="col-md-6">
          <div class="well-group">

            <!-- Item management -->
            <div class="well well-action-bar">
              <div class="well-body pt-xs">
                <div class="row">
                  <div class="col-md-12">

                      <!-- Create management -->
                      <item-create-management
                        [itemContext]="itemContext"
                        [currentUser]="currentUser"
                        (cancelledCreating)="onCancelledCreating()"
                        (finishedCreating)="onFinishedCreating($event)">
                      </item-create-management>

                      <!-- Core edit management -->
                      <item-edit-management
                        [showActionButtons]="true"
                        [section]="'core'"
                        [itemContext]="itemContext"
                        [currentUser]="currentUser"
                        (beganEditing)="onBeganEditing($event)"
                        (cancelledEditing)="onCancelledEditing($event)"
                        (finishedEditing)="onFinishedEditing($event)">
                      </item-edit-management>

                      <!-- Preview -->
                      <span *ngIf="itemContext.item.core.supportsPreview">
                        <item-preview #itemPreview
                                      [itemId]="itemContext.item.id"
                                      [itemType]="itemContext.item.itemType.categoryName"
                                      [isBeingEditedByCurrentUser]="itemContext.isUserEditingAnySection(currentUser.userName)"
                                      [isBeingCreatedByCurrentUser]="itemContext.isUserCreatingItem(currentUser.userName)">
                        </item-preview>
                      </span>

                  </div>
                </div>
              </div>
            </div>


            <!-- Item details -->
            <item-details [itemContext]="itemContext"
                          [isReadOnly]="!itemContext.isUserCreatingItemOrEditingSection(currentUser.userName, 'core')"
                          (itemChanged)="autoSave.onItemChange($event)">
            </item-details>

          </div>
          <button id="opener" class="flyout btn btn-default btn-sm mr-xs">
            <i id="chevi" class="fa fa-chevron-right"></i>
          </button>
        </div>

        <!-- Right body -->
        <div id="flytabs" class="col-md-6">

          <!-- Item tabs -->
          <item-tabs [currentUser]="currentUser"
                     [itemContext]="itemContext"
                     [itemType]="itemContext.item.itemType"
                     [selected]="selectedTab"
                     (tabChanged)="onTabChanged($event)"
                     (itemChanged)="autoSave.onItemChange($event)"
                     (beganEditing)="onBeganEditing($event)"
                     (cancelledEditing)="onCancelledEditing($event)"
                     (finishedEditing)="onFinishedEditing($event)">
          </item-tabs>
        </div>
      </div>
    </div>

    <!-- Error message message-->
    <div class="well" *ngIf="isError">
      <div class="well-body">
        <alert>{{errorMessage}}</alert>
        <button class="btn btn-default btn" routerLink="/"><i class="fa fa-chevron-left"></i> Go Back</button>
      </div>
    </div>

  </div>
</section>
