<section class="main">
  <div *ngIf="!isLoading" class="container">
    <div *ngIf="!isError">

      <!-- Item title -->
      <!-- Auto-save -->
      <div class="pull-right">
        <!-- Preview -->
        <span *ngIf="itemContext.item.core.supportsPreview">
          <item-preview #itemPreview
                        [itemId]="itemContext.item.id"
                        [itemType]="itemContext.item.itemType.categoryName"
                        [isBeingEditedByCurrentUser]="isBeingEditedByCurrentUser"
                        [isBeingCreatedByCurrentUser]="isBeingCreatedByCurrentUser">
          </item-preview>
        </span>

        <item-auto-save #autoSave
                        [enabled]="isBeingCreatedByCurrentUser || isBeingEditedByCurrentUser"
                        [debounceTimeMillis]="3000">
        </item-auto-save>
        <!-- Item being edited by another user -->
        <div *ngIf="isBeingEditedByAnotherUser" class="alert alert-warning small">
          <!-- IAT-666: Replace with section edit -->
          <div class="mt-sm"><i class="fa fa-warning"></i> {{itemContext.item.id}} is being edited by
            {{itemContext.creatorUserName}}. Items may only be edited by one user at a time.</div>
        </div>
      </div>
      <h1 class="h2 label-group blue">
        <span class="label"><span class="label"><i class="fa {{itemContext.item.itemType.icon}}"></i></span> {{itemContext.item.id}}</span><span class="label">{{itemContext.item.itemType.name}} <span>( {{itemContext.item.itemType.code | uppercase}} )</span></span>
      </h1>

      <div class="row">
        <!-- Left 6 columns -->
        <div class="col-md-6">
          <div class="well-group">
            <div class="well well-action-bar">
              <div class="well-body pt-xs">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-default btn-sm" (click)="goHome()">
                      <i class="fa fa-arrow-left"></i> Dashboard
                    </button>

                    <div class="pull-right">

                      <!-- Cancel -->
                      <span *ngIf="isBeingCreatedByCurrentUser">
                        <button class="btn btn-default btn-sm" (click)="cancelModal.show()">
                          <i class="fa fa-undo"></i> Cancel
                        </button>
                      </span>
                      <span *ngIf="isBeingEditedByCurrentUser">
                        <button class="btn btn-default btn-sm" (click)="cancelModal.show()">
                          <i class="fa fa-undo"></i> Discard
                        </button>
                      </span>

                      <!-- Begin editing -->
                      <span *ngIf="isBeingViewedByCurrentUser">
                        <button class="btn btn-success btn-sm" (click)="beginEditTransaction()" [disabled]="isBeingEditedByAnotherUser">
                          <i class="fa fa-edit"></i> Edit
                        </button>
                      </span>

                      <!-- Finish creating -->
                      <span *ngIf="isBeingCreatedByCurrentUser">
                        <button class="btn btn-success btn-sm" (click)="commitModal.show()">
                          <i class="fa fa-check-square"></i> Finish Creating {{itemContext.item.itemType.categoryName}}
                        </button>
                      </span>

                      <!-- Finish editing -->
                      <span *ngIf="isBeingEditedByCurrentUser">
                        <button class="btn btn-success btn-sm" (click)="commitModal.show()">
                          <i class="fa fa-check-square"></i> Finish Editing {{itemContext.item.itemType.categoryName}}
                        </button>
                      </span>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item type details -->
            <item-details [itemContext]="itemContext"
                          [isReadOnly]="isBeingViewedByCurrentUser"
                          (itemChanged)="autoSave.onItemChange($event)">
            </item-details>

          </div>
        </div>

        <!-- Right 6 columns -->
        <div class="col-md-6 ">
          <!-- Item tabs -->
          <item-tabs [itemContext]="itemContext"
                     [itemType]="itemContext.item.itemType"
                     [selected]="selectedTab"
                     [isReadOnly]="isBeingViewedByCurrentUser"
                     (tabChanged)="onTabChanged($event)"
                     (itemChanged)="autoSave.onItemChange($event)">
          </item-tabs>
        </div>
      </div>
    </div>

    <!-- Error message -->
    <div class="well" *ngIf="isError">
      <div class="well-body">
        <alert>{{errorMessage}}</alert>
        <button class="btn btn-primary" routerLink="/"><i class="fa fa-arrow-left"></i> Go Back</button>
      </div>
    </div>

  </div>
</section>

<!-- Commit modal -->
<div #commitModal="bs-modal"
     id="commitModal"
     class="modal fade"
     bsModal
     [config]="{backdrop: 'static'}"
     tabindex="-1"
     role="dialog">
  <div *ngIf="!isLoading && !isError" class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="commitModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="isBeingCreatedByCurrentUser" class="modal-title" id="commitCreateModalLabel">
          Finish Creating {{itemContext.item.itemType.categoryName}}
        </h3>
        <h3 *ngIf="isBeingEditedByCurrentUser" class="modal-title" id="commitEditModalLabel">
          Commit Changes
        </h3>
      </div>

      <!-- Body (create) -->
      <div *ngIf="isBeingCreatedByCurrentUser">
        <div class="modal-body">
          <span>Are you sure you want to finish creating this {{itemContext.item.itemType.categoryName | lowercase}} and add it to the item bank?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-small" (click)="commitCreateTransaction()">Yes</button>
          <button type="button" class="btn btn-default btn-small" data-dismiss="modal" (click)="commitModal.hide()">No
          </button>
        </div>
      </div>

      <!-- Body (edit) -->
      <div *ngIf="isBeingEditedByCurrentUser">
        <form [formGroup]="form" (submit)="commitEditTransaction()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                Are you sure you want to commit your changes to the item bank?
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Please enter the reason for your changes to this {{itemContext.item.itemType.categoryName | lowercase}}.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span>Reason (optional): </span>
                  <div class="input-group">
                    <input formControlName="commitMsg"
                           type="text"
                           placeholder="Reason for change"
                           class="modal-form-control"
                           maxlength="100"
                           size="50"
                           [formControl]="form.controls['commitMsg']">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-small">
              Yes
            </button>
            <button type="button" class="btn btn-default btn-small" data-dismiss="modal" (click)="commitModal.hide()">No
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Cancel modal -->
<div #cancelModal="bs-modal"
     id="cancelModal"
     class="modal fade"
     bsModal
     [config]="{backdrop: 'static'}"
     tabindex="-1"
     role="dialog">
  <div *ngIf="!isLoading && !isError" class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="isBeingCreatedByCurrentUser" class="modal-title" id="cancelCreateModalLabel">
          <i class="fa fa-undo"></i> Cancel {{itemContext.item.itemType.categoryName}} Creation
        </h3>
        <h3 *ngIf="isBeingEditedByCurrentUser" class="modal-title" id="cancelEditModalLabel">
          Discard Changes
        </h3>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <span *ngIf="isBeingCreatedByCurrentUser">
          Are you sure you want to cancel creating this {{itemContext.item.itemType.categoryName | lowercase}} and lose all changes you have made?
        </span>
        <span *ngIf="isBeingEditedByCurrentUser">
          Are you sure you want to discard all changes you've made since you&rsquo;ve started editing?
        </span>
      </div>
      <div class="modal-footer">
        <button *ngIf="isBeingCreatedByCurrentUser"
                type="button"
                class="btn btn-primary btn-small"
                (click)="rollbackCreateTransaction()">
          Yes
        </button>
        <button *ngIf="isBeingEditedByCurrentUser"
                type="button"
                class="btn btn-primary btn-small"
                (click)="rollbackEditTransaction()">
          Yes
        </button>
        <button type="button" class="btn btn-default btn-small" data-dismiss="modal" (click)="cancelModal.hide()">
          No
        </button>
      </div>
    </div>
  </div>
</div>
