<button class="btn btn-default preview" (click)="show()" data-toggle="modal">
  Preview
</button>

<div #previewModal="bs-modal"
     id="previewModal"
     class="modal fade"
     bsModal
     [config]="{backdrop: 'static'}"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header preview">
        <!-- Title -->
        <div class="col-sm-1">
          <h3 class="modal-title" id="">Preview<!--i class="fa fa-chevron-right" aria-hidden="true"></i--></h3>
        </div>

        <!-- Version selection -->
        <div class="col-sm-7">
          <!-- Dropdown -->
          <label class="pull-left">Version: </label>

          <div *ngIf="showVersionList" class="btn-group" dropdown>
            <button *ngIf="itemChanges && !selectedItemChange.changedOn" dropdownToggle type="button" class="btn btn-default dropdown-toggle">
              {{selectedItemChange.message}} <span class="caret"></span>
            </button>
            <button *ngIf="itemChanges && selectedItemChange.changedOn" dropdownToggle type="button" class="btn btn-default dropdown-toggle">
              <span class="date">{{selectedItemChange.changedOn | date:'short'}}</span> -
              <span class="owner">{{selectedItemChange.changedBy}}</span> -
              <span class="message">{{selectedItemChange.message}}</span>
              <span class="caret"></span>
            </button>

            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor="let history of itemChanges" role="menuitem">
                <a *ngIf="!history.changedOn" class="dropdown-item" (click)="renderItem(history.historyId)">
                  {{history.message}}
                </a>
                <a *ngIf="history.changedOn" class="dropdown-item" (click)="renderItem(history.historyId)">
                  <span class="date">{{history.changedOn | date:'short'}}</span> -
                  <span class="owner">{{history.changedBy}}</span> -
                  <span class="message">{{history.message}}</span>
                </a>
              </li>
            </ul>

          </div>
          <div *ngIf="!showVersionList">
            <span class="gray-darker">Being created by you</span>
          </div>
        </div>

        <!-- Accessibility options -->
        <!-- TODO: Render options via configuration or service -->
        <div class="col-sm-3">
          <label class="pull-left">Accessibility: </label>
          <a (click)="toggleAccessibility('TDS_ASL1')"><i title="American Sign Language" [class.active]="isAccessibilityEnabled('TDS_ASL1')" class="fa fa-sign-language" aria-hidden="true"></i></a>
          <a (click)="toggleAccessibility('TDS_BT_EXN')"><i title="Braille" [class.active]="isAccessibilityEnabled('TDS_BT_EXN')" class="fa fa-braille" aria-hidden="true"></i></a>
          <a (click)="toggleAccessibility('TDS_ClosedCap1')"><i title="Closed Captioning" [class.active]="isAccessibilityEnabled('TDS_ClosedCap1')" class="fa fa-cc" aria-hidden="true"></i></a>
          <a (click)="toggleAccessibility('TDS_WL_Glossary')"><i title="English Glossary" [class.active]="isAccessibilityEnabled('TDS_WL_Glossary')" class="fa fa-list" aria-hidden="true"></i></a>
          <a (click)="toggleAccessibility('TDS_ESN')"><i title="Stacked Spanish Translations" [class.active]="isAccessibilityEnabled('TDS_ESN')" class="fa fa-globe" aria-hidden="true"></i></a>
          <a (click)="toggleAccessibility('TDS_WL_ESNGloss')"><i title="Translated Glossary" [class.active]="isAccessibilityEnabled('TDS_WL_ESNGloss')" class="fa fa-language" aria-hidden="true"></i></a>
        </div>

        <!-- Close -->
        <div class="col-sm-1">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hidePreview()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <!-- Body -->
      <div class="modal-body preview">
        <iframe *ngIf="showIframe" frameborder="0" height="500" width="800" [src]="itemSafeResourceUrl"></iframe>
        <div class="center-block">
          <i *ngIf="!showIframe" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <!-- Error message -->
        <div class="row" *ngIf="isError">
          <div class="col-lg-12">
            <alert>{{errorMessage}}</alert>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="modal-footer preview">
        <!-- Close button -->
        <button type="button" class="btn btn-default btn-small" data-dismiss="modal" (click)="hidePreview()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
