<div class="well-group">
  <div class="well gray-lightest">
    <div class="well-body pt-xs">
      <!-- Tab selector dropdown -->
      <div class="btn-group" dropdown>
        <!-- Selected option -->
        <button dropdownToggle type="button" class="btn btn-primary btn-xs dropdown-toggle mr-xs">
          <i class="fa fa-bars"></i><span class="sr-only">Item Menu</span>
        </button>

        <span class="h2 mb-sm">
          <span *ngIf="isSelected(tab.braille)">Braille</span>
          <span *ngIf="isSelected(tab.asl)">ASL</span>
          <span *ngIf="isSelected(tab.history)">History</span>
          <span *ngIf="isSelected(tab.validation)">Validation</span>
          <span *ngIf="isSelected(tab.stimulus)">Stimulus</span>
          <span *ngIf="isSelected(tab.tutorial)">Tutorial</span>
          <span *ngIf="isSelected(tab.workflow)">Workflow</span>
        </span>

        <!-- Dropdown options -->
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" (click)="select(tab.braille)">Braille</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="select(tab.asl)">ASL</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="select(tab.history)">History</a>
          </li>
          <li role="menuitem" *ngIf="item.supportsStimulus">
            <a class="dropdown-item" (click)="select(tab.stimulus)">Stimulus</a>
          </li>
          <li role="menuitem" *ngIf="item.supportsTutorial">
            <a class="dropdown-item" (click)="select(tab.tutorial)">Tutorial</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="select(tab.validation)">Validation</a>
          </li>
          <li role="menuitem" *ngIf="item.supportsWorkflow">
            <a class="dropdown-item" (click)="select(tab.workflow)">Workflow</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Selected tab -->
  <div class="item-box tab-content well white">
    <div class="well-body">
      <!-- Braille -->
      <item-braille-tab *ngIf="isSelected(tab.braille)"
                        [isReadOnly]="isReadOnly"
                        [item]="item"
                        (itemBrailleChanged)="onItemChanged()">
      </item-braille-tab>

      <!-- ASL -->
      <item-asl-tab *ngIf="isSelected(tab.asl)"
                        [isReadOnly]="isReadOnly"
                        [item]="item"
                        (itemAslChanged)="onItemChanged()">
      </item-asl-tab>

      <!-- History -->
      <item-history-tab *ngIf="isSelected(tab.history)"
                        [itemId]="item.id">
      </item-history-tab>

      <!-- Validation -->
      <item-validation-tab *ngIf="isSelected(tab.validation)"
                        [itemId]="item.id">
      </item-validation-tab>

      <!-- Stimulus -->
      <item-association-tab #stimulus
                            *ngIf="isSelected(tab.stimulus)"
                            [isReadOnly]="isReadOnly"
                            [associationId]="associatedStimulusId"
                            [associationType]="itemTypeStimulus"
                            (associationIdChanged)="onItemChanged()">
      </item-association-tab>

      <!-- Tutorial -->
      <item-association-tab #tutorial
                            *ngIf="isSelected(tab.tutorial)"
                            [isReadOnly]="isReadOnly"
                            [associationId]="associatedTutorialId"
                            [associationType]="itemTypeTutorial"
                            (associationIdChanged)="onItemChanged()">
      </item-association-tab>

      <!-- Workflow -->
      <item-workflow-tab *ngIf="isSelected(tab.workflow)"
                         [isReadOnly]="isReadOnly"
                         [workflowStatusCode]="item.workflowStatusCode"
                         (workflowStatusCodeChange)="onItemChanged()">
      </item-workflow-tab>
    </div>
  </div>
</div>
