
  <h4 class="font-italic">
  Create item or stimulus
  </h4>

  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0 font-italic">Item types</h1>
  </nav>

  <div class="row">

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Evidence-Based Select Response (EBSR)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Equation (EQ)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Extended Response (ER)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Grid Item (GI)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>


    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Hot Text (HT)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>



    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Multiple Choice (MC)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Multiple Select (MS)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Match Interaction (MI)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Short Answer (SA)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Table Interaction (TI)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>



    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Writing Extended Responses (WER)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

  </div>

  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0 font-italic">Other resources</h1>
  </nav>

  <div class="row">

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Stimulus (STIM)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

    <div class="col">
      <div class="card m-3 text-center" style="width: 12rem;">
        <div class="card-block">
          <p class="card-text">Tutorial (TUT)</p>
        </div>
        <img src="/assets/images/bullet-list.svg">
        <br/>
      </div>
    </div>

  </div>

  <button class="btn btn-secondary" routerLink="/">Cancel</button>
