
  <h4 class="font-italic">
  Create item or stimulus
  </h4>

  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0 font-italic">Item types</h1>
  </nav>

  <div class="container-fluid">
    <div class="row" style="padding-top: 10px;padding-bottom: 10px">
      <div
        *ngFor="let item of items"
        class="col btn-group btn-block">

        <a class="btn btn-lg btn-outline-primary"
                style="width: 13rem;height: 10rem; white-space: normal; border-radius: 0px"
                routerLink="/item-create/{{item.type}}">
          <span class="text-sm-center align-text-top" style="">{{item.name}}</span>
          <br/><br/>
          <i class="fa {{item.icon}} fa-2x"></i>
        </a>

      </div>
    </div>
  </div>
<!--
  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0 font-italic">Other resources</h1>
  </nav>

  <div class="container-fluid">
    <div class="row" style="padding-top: 10px;padding-bottom: 10px">
      <div
        *ngFor="let item of other"
        class="btn-group btn-block">

        <a class="btn btn-lg btn-outline-primary"
           style="width: 13rem;height: 10rem; white-space: normal;border-radius: 0px"
           routerLink="/item-create/{{item.type}}">
          <span class="text-sm-center align-text-top">{{item.name}}</span>
          <br/><br/>
          <i class="fa {{item.icon}} fa-2x"></i>
        </a>

      </div>
    </div>
  </div>
-->

  <button class="btn btn-secondary" routerLink="/">Cancel</button>
