<form [formGroup]="form">
  <div class="form-group mb-sm">
    <h4>Table</h4>

    <!-- Title -->
    <div class="input-group mb-sm hover-toolbar">
      <span class="input-group-addon" id="sizing-addon2">Title</span>
      <ckeditor
              [config]="{
              toolbar: 'IATMATH',
              readOnly: isReadOnly,
              height: 50
            }"
              formControlName="title"
              debounce="500"
              (focus)="editorOnFocus($event, null)"
              (blur)="editorOnBlur($event, null)">
      </ckeditor>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
      <table class="table table-condensed table-hover table-light mi-table">
        <thead>
        <!-- Header -->
        <tr formArrayName="columns">
          <th *ngFor="let control of formColumns.controls; let i=index"
              [formGroupName]="i"
              [attr.id]="'header' + i"
              class="ti-table-cell-width">
            <div *ngIf="i != 0" class="input-group input-group-sm">
              <div class="input-group input-group-sm hover-toolbar">
                <ckeditor
                        [config]="{
                  toolbar: 'IATMATH',
                  readOnly: isReadOnly,
                  height: 50
                }"
                        formControlName="label"
                        debounce="500"
                        (focus)="editorOnFocus($event, 'header' + i)"
                        (blur)="editorOnBlur($event, 'header' + i)">
                </ckeditor>
              </div>
            </div>
          </th>
          <th class="center">
            <a *ngIf="!isReadOnly" (click)="addColumn()" class="btn btn-default btn-xs">
              <i class="fa fa-plus"></i> <i class="fa fa-columns" aria-hidden="true"></i>
            </a>
          </th>
        </tr>
        </thead>

        <!-- Body -->
        <tbody formArrayName="rows">
          <tr *ngFor="let rowControl of formRows.controls; let i=index" [formGroupName]="i">
            <td *ngFor="let cellControl of formRowCells(i).controls; let j=index"
                [formGroupName]="j"
                [attr.id]="'cell' + i + j"
                [ngClass]="{'center': j!==0}">
              <div *ngIf="cellControl.value.type === 'label'" class="input-group input-group-sm hover-toolbar">
                <ckeditor
                        [config]="{
                    toolbar: 'IATMATH',
                    readOnly: isReadOnly,
                    height: 50
                  }"
                        formControlName="value"
                        (focus)="editorOnFocus($event, 'cell' + i + j)"
                        (blur)="editorOnBlur($event, 'cell' + i + j)">
                </ckeditor>
              </div>
              <input *ngIf="cellControl.value.type === 'answer'" class="checkbox center" formControlName="value"  type="checkbox" checked="value">
            </td>
            <td class="center">
              <a *ngIf="!isReadOnly" (click)="removeRow(i)" class="gray-dark">
                <i class="fa fa-minus-circle"></i>
              </a>
            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td *ngFor="let control of formColumns.controls; let i=index" class="center">
              <a *ngIf="!isReadOnly && i != 0" (click)="removeColumn(i)" class="gray-dark">
                <i class="fa fa-minus-circle"></i>
              </a>
            </td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>

      <!-- Add row -->
      <a *ngIf="!isReadOnly" (click)="addRow()" class="btn btn-default btn-xs">
        <i class="fa fa-plus"> Row</i>
      </a>
    </div>
  </div>
</form>
