<div class="form-group">
  <!-- Label -->
  <h4>Exemplar Responses</h4>

  <form [formGroup]="form">
    <!-- Exemplar responses -->
    <div formArrayName="exemplarResponses">
      <!-- Exemplar response -->
      <div *ngFor="let control of formExemplarResponses.controls; let i=index" class="input-combo mb-sm">
        <!-- Text -->
        <ckeditor
          formControlName="{{i}}"
          title="Exemplar Response #{{i + 1}}"
          [config]="{
              toolbar: 'IAT',
              readOnly: isReadOnly,
              height: 80,
              width: 480
            }"
          debounce="500">
        </ckeditor>
        <!-- Remove item -->
        <a *ngIf="!isReadOnly" (click)="removeExemplarResponse(i)" class="btn btn-default icon-only btn-borderless">
          <i class="fa fa-minus-circle"></i>
        </a>
      </div>
    </div>
  </form>

  <!-- "No exemplar responses" message -->
  <div *ngIf="formExemplarResponses.length === 0">
    <em>No exemplar responses</em>
  </div>
</div>

<!-- Add exemplar responses button -->
<div class="mt-sm">
  <button *ngIf="!isReadOnly" class="btn btn-primary btn-xs" (click)="addExemplarResponse()">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Exemplar Response
  </button>
</div>
