<div class="form-group">
  <!-- Label -->
  <h4>
    <span>Exemplar Responses</span>
  </h4>

  <form [formGroup]="form">
    <!-- Exemplar responses -->
    <div formArrayName="exemplarResponses">
      <!-- Exemplar response -->
      <div *ngFor="let control of formExemplarResponses.controls; let i=index">
        <!-- Remove trash can -->
        <span class="pull-right">
          <a *ngIf="!isReadOnly" (click)="removeExemplarResponse(i)">
            <i class="fa fa-trash"></i>
          </a>
        </span>

        <!-- Text -->
        <textarea formControlName="{{i}}"
                  title="Exemplar Response #{{i + 1}}"
                  class="form-control form95"
                  rows="3"></textarea>
      </div>
    </div>
  </form>

  <!-- "No exemplar responses" message -->
  <div *ngIf="formExemplarResponses.length === 0">
    <em>No exemplar responses</em>
  </div>
</div>

<!-- Add exemplar responses button -->
<div class="row">
  <div class="col-lg-12">
    <button *ngIf="!isReadOnly" class="btn btn-info" (click)="addExemplarResponse()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Exemplar Response
    </button>
  </div>
</div>
