<div class="form-group">
  <!-- Label -->
  <h4>Exemplar Responses</h4>

  <form [formGroup]="form">
    <!-- Exemplar responses -->
    <div formArrayName="exemplarResponses">
      <!-- Exemplar response -->
      <div *ngFor="let control of formExemplarResponses.controls; let i=index">
        <!-- Text -->
        <textarea formControlName="{{i}}"
                  title="Exemplar Response #{{i + 1}}"
                  class="form-control form95"
                  rows="3"></textarea>
        <!-- Remove item -->
        <a *ngIf="!isReadOnly" (click)="removeExemplarResponse(i)" class="btn btn-default btn-xs">
          <i class="fa fa-close"></i>
        </a>
      </div>
    </div>
  </form>

  <!-- "No exemplar responses" message -->
  <div *ngIf="formExemplarResponses.length === 0">
    <em>No exemplar responses</em>
  </div>
</div>

<!-- Add exemplar responses button -->
<div class="mt-sm">
  <button *ngIf="!isReadOnly" class="btn btn-primary btn-xs" (click)="addExemplarResponse()">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Exemplar Response
  </button>
</div>
