
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <div class="input-group">
      <form class="form-inline">
        <input class="form-control" size="40" type="text">&nbsp;&nbsp;
        <button class="btn btn-secondary" routerLink="/">Find item or stimulus</button>
      </form>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
         <button class="btn btn-secondary" routerLink="/item-select">Create item or stimulus</button>
      </div>

    </div>
  </nav>

