<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="input-group input-group" [class.has-error]="complexForm.invalid">
    <input type="text"
           class="form-control"
           placeholder="Item or resource ID"
           pattern="^\d+$"
           required
           formControlName="query"
           id="query"
           [formControl]="complexForm.controls['query']"
           [maxlength]="14"
           (focus)="queryFocused=true"
           (blur)="queryFocused=false"
           (paste)="handlePaste($event)"
           (keypress)="handleKeypress($event)"/>
    <span class="input-group-btn">
     <button class="btn btn-primary" type="submit" [disabled]="!complexForm.valid">
       Search <i class="fa fa-search" aria-hidden="true"></i>
     </button>
    </span>
  </div>
  <div *ngIf="this.showErrorMessage(complexForm.controls['query'])" class="mt-sm">
    <span class="label label-danger border-only">The ID is made up of one or more digits</span>
  </div>
</form>
