<div class="row">
  <div class="col-lg-12">
    <item-labeled-textarea [label]="'Prompt / Stem'"
                           [rows]="6"
                           [isFocused]="true"
                           [isReadOnly]="isReadOnly"
                           [text]="item.prompt"
                           (textChange)="onItemChange()">
    </item-labeled-textarea>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <item-mc-options [isReadOnly]="isReadOnly"
                     [options]="item.options"
                     (optionsChange)="onItemChange()">
    </item-mc-options>
  </div>
</div>
