<div class="well white not-first-child-well">
  <div class="well-body">
    <item-prompt [label]="'Prompt / Stem'"
                 [rows]="6"
                 [isFocused]="true"
                 [isReadOnly]="isReadOnly"
                 [text]="itemContext.item.core.prompt"
                 (textChange)="onItemChange()">
    </item-prompt>
  </div>
</div>
<div class="well white">
  <div class="well-body">
    <item-mc-options [isReadOnly]="isReadOnly"
                     [options]="itemContext.item.core.options"
                     (optionsChange)="onItemChange()">
    </item-mc-options>
  </div>
</div>
