<!-- Linked stimulus -->
<div *ngIf="hasLinkedStimulus">
  <div>
    Stimulus ID <span class="text-primary">{{stimulusId}}</span> is associated to this item.
  </div>
  <div *ngIf="!isReadOnly">
    <a (click)="disassociate()" class="btn btn-link"><i class="fa fa-chain-broken"></i> Disassociate stimulus</a>
  </div>
</div>

<!-- No associated stimulus -->
<div *ngIf="!hasLinkedStimulus">
  <div>
    No stimulus is associated to this item.
  </div>
  <div *ngIf="!isReadOnly" class="form-group">
    <form [formGroup]="form" novalidate>
      <!-- Stimulus ID input -->
      <input #stimulusId formControlName="stimulusId" title="stimulusId" type="text" placeholder="Stimulus ID" [maxlength]="15">

      <!-- Enabled associate button -->
      <a *ngIf="form.valid"
         (click)="associate(stimulusId.value.toUpperCase())"
         class="btn btn-link">
        <i class="fa fa-chain"></i> Associate stimulus
      </a>
      <!-- Disabled associate button -->
      <a *ngIf="!form.valid"
         class="btn btn-link disabled">
        <i class="fa fa-chain"></i> Associate stimulus
      </a>
    </form>
  </div>
</div>
