<!-- Linked tutorial -->
<div *ngIf="hasLinkedTutorial">
  <div>
    Tutorial ID <span class="text-primary">{{tutorialId}}</span> is associated to this item.
  </div>
  <div *ngIf="!isReadOnly">
    <a (click)="disassociate()" class="btn btn-link"><i class="fa fa-chain-broken"></i> Disassociate tutorial</a>
  </div>
</div>

<!-- No associated tutorial -->
<div *ngIf="!hasLinkedTutorial">
  <div>
    No tutorial is associated to this item.
  </div>
  <div *ngIf="!isReadOnly" class="form-group">
    <form [formGroup]="form" novalidate>
      <!-- Tutorial ID input -->
      <input #tutorialId formControlName="tutorialId" title="tutorialId" type="text" placeholder="Tutorial ID" [maxlength]="15">

      <!-- Enabled associate button -->
      <a *ngIf="form.valid"
         (click)="associate(tutorialId.value.toUpperCase())"
         class="btn btn-link">
        <i class="fa fa-chain"></i> Associate tutorial
      </a>
      <!-- Disabled associate button -->
      <a *ngIf="!form.valid"
         class="btn btn-link disabled">
        <i class="fa fa-chain"></i> Associate tutorial
      </a>
    </form>
  </div>
</div>
