<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Item search -->
        <div class="well">
          <h1 class="h3">Find</h1>
          <p class="small">Please enter the item or resource ID</p>
          <item-search></item-search>
        </div>
       </div>
       <div class="col-md-4">
        <!-- Create item -->
        <div class="well">
          <h2 class="h3">My Items & Resources</h2>
          <p class="small">Create or return to item or resource.</p>
          <button class="btn btn-success btn" routerLink="/item/create/select-type">
            <i class="fa fa-plus" aria-hidden="true"></i> New
          </button>
          <p *ngIf="showLink" class="mt-sm">
            <button class="btn btn-default btn" routerLink="{{itemUrl}}">
              <i class="fa fa-chevron-right" aria-hidden="true"></i> Last Item or Resource
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
