<div #logoutModal="bs-modal"
     id="logoutModal"
     class="modal fade"
     bsModal
     [config]="{backdrop: 'static'}"
     tabindex="-1"
     style="z-index:14050"
     role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="modal-title" id="cancelEditModalLabel">
          Session Timeout
        </h3>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <div>
          Because you have been inactive, your session is about to expire.
        </div>
        <div>
          Time remaining: {{ this.idleService.idleRemaining | date:'m:ss'}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary btn-small"
                (click)="this.restartIdle()">Stay Logged In</button>
        <button type="button"
                class="btn btn-default btn-small"
                data-dismiss="modal"
                (click)="this.logOut()">Log Out Now</button>
      </div>
    </div>
  </div>
</div>
