<!-- Label -->
<span class="h5 mt-sm">Options</span>
<p class="small">Select an option(s) to indicate the correct answer(s).</p>

<form [formGroup]="form">
  <!-- Options -->
  <div formArrayName="options">
    <div *ngFor="let control of formOptions.controls; let i=index" [formGroupName]="i" class="form-group mb-md">
      <!-- Correct answer checkbox -->
      <div class="checkbox input-combo">
        <label>
          <input type="checkbox"
                 name="isCorrectAnswer"
                 formControlName="isCorrectAnswer"
                 title="Correct Answer"
                 class="input-sm">
          <!-- Text -->
          <ckeditor
            formControlName="text"
            title="Text"
            [config]="{
              toolbar: 'IAT',
              readOnly: isReadOnly,
              height: 80,
              width: 460
            }"
            debounce="500">
          </ckeditor>
        </label>
        <!-- Remove option -->
        <a *ngIf="!isReadOnly" (click)="removeOption(i)" class="btn btn-default btn-xs pull-right">
          <i class="fa fa-close"></i>
        </a>
      </div>
    </div>

    <!-- "No options" message -->
    <div *ngIf="formOptions.length === 0">
      <em>No options</em>
    </div>

    <!-- Add options button -->
    <button *ngIf="!isReadOnly" class="btn btn-primary btn-xs" (click)="addOption()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add Option
    </button>
  </div>
</form>
