<!-- Label -->
<h4>Options</h4>
<p class="small">Select an option(s) to indicate the correct answer(s).</p>

<form [formGroup]="form">
  <!-- Options -->
  <div formArrayName="options">
    <div *ngFor="let control of formOptions.controls; let i=index" [formGroupName]="i" class="form-group mb-md">
      <div class="form-group">
        <!-- Correct answer checkbox -->
        <div class="checkbox input-combo">
          <label>
            <input type="checkbox"
                   name="isCorrectAnswer"
                   formControlName="isCorrectAnswer"
                   title="Correct Answer"
                   class="input-sm">
          </label>
            <!-- Text -->
            <ckeditor
              formControlName="text"
              [config]="{
                toolbar: 'IAT',
                readOnly: isReadOnly,
                height: 80,
                width: auto
              }"
              debounce="500">
            </ckeditor>

          <!-- Remove option -->
          <a *ngIf="!isReadOnly" (click)="removeOption(i)" class="btn btn-default icon-only pull-right btn-borderless">
            <i class="fa fa-minus-circle"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- "No options" message -->
    <div *ngIf="formOptions.length === 0">
      <em>No options</em>
    </div>

    <!-- Add options button -->
    <button *ngIf="!isReadOnly" class="btn btn-primary btn-xs" (click)="addOption()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add Option
    </button>
  </div>
</form>
