<!-- IAT-666: Uncomment -->
<!--&lt;!&ndash; EBSR &ndash;&gt;-->
<!--<item-ebsr-details *ngIf="itemContext.type=='ebsr'"-->
                   <!--[item]="itemContext"-->
                   <!--[isReadOnly]="isReadOnly"-->
                   <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-ebsr-details>-->

<!--&lt;!&ndash; MC &ndash;&gt;-->
<!--<item-mc-details *ngIf="itemContext.type=='mc'"-->
                 <!--[item]="itemContext"-->
                 <!--[isReadOnly]="isReadOnly"-->
                 <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-mc-details>-->

<!--&lt;!&ndash; MS &ndash;&gt;-->
<!--<item-ms-details *ngIf="itemContext.type=='ms'"-->
                 <!--[item]="itemContext"-->
                 <!--[isReadOnly]="isReadOnly"-->
                 <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-ms-details>-->

<!-- SA -->
<item-sa-details *ngIf="itemContext.item.type=='sa'"
                 [itemContext]="itemContext"
                 [isReadOnly]="isReadOnly"
                 (itemChanged)="onItemChanged($event)">
</item-sa-details>

<!-- IAT-666: Uncomment -->
<!--&lt;!&ndash; STIM &ndash;&gt;-->
<!--<item-stim-details *ngIf="itemContext.type=='stim'"-->
                   <!--[item]="itemContext"-->
                   <!--[isReadOnly]="isReadOnly"-->
                   <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-stim-details>-->

<!--&lt;!&ndash; TI &ndash;&gt;-->
<!--<item-ti-details *ngIf="itemContext.type=='ti'"-->
                 <!--[item]="itemContext"-->
                 <!--[isReadOnly]="isReadOnly"-->
                 <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-ti-details>-->

<!-- WER -->
<item-wer-details *ngIf="itemContext.item.type=='wer'"
                  [itemContext]="itemContext"
                  [isReadOnly]="isReadOnly"
                  (itemChanged)="onItemChanged($event)">
</item-wer-details>

<!--&lt;!&ndash; TUT &ndash;&gt;-->
<!--<item-tut-details *ngIf="itemContext.type=='tut'"-->
                  <!--[item]="itemContext"-->
                  <!--[isReadOnly]="isReadOnly"-->
                  <!--(itemChanged)="onItemChanged($event)">-->
<!--</item-tut-details>-->
