<!-- Associate resource -->
<div *ngIf="hasLinkedAssociation">
  <div>
    {{associationType.name}} ID <span class="text-primary">{{associationId}}</span> is associated with this item.
  </div>
  <div *ngIf="!isReadOnly">
    <a (click)="disassociate()" class="btn btn-link"><i class="fa fa-chain-broken"></i> Disassociate {{associationType.name | lowercase}}</a>
  </div>
</div>

<!-- No associated resource -->
<div *ngIf="!hasLinkedAssociation">
  <div>
    No {{associationType.name | lowercase}} is associated with this item.
  </div>
  <div *ngIf="!isReadOnly" class="form-group">
    <form [formGroup]="form" novalidate>
      <input #associationId formControlName="associationId" title="associationId" class="form-control" type="text" placeholder="Association ID" [maxlength]="15">

      <!-- Enabled associate button -->
      <a *ngIf="form.valid"
         (click)="associate(associationId.value.toUpperCase())"
         class="btn btn-link">
        <i class="fa fa-chain"></i> Associate {{associationType.name | lowercase}}
      </a>
      <!-- Disabled associate button -->
      <a *ngIf="!form.valid"
         class="btn btn-link disabled">
        <i class="fa fa-chain"></i> Associate {{associationType.name | lowercase}}
      </a>
    </form>
  </div>
</div>
