<section class="main">
  <div class="container">
    <div class="well well-top">
      <h1>
        Create Item or Stimulus
      </h1>
      <h4>
        Item Types
      </h4>
      <div class="col btn-group btn-block">
        <div class="row">
          <a *ngFor="let type of normalItemTypes" (click)="createItem(type.code)">
            <div class="btn btn-items teal">
              <p>{{type.name}}</p>
              <p>{{type.abbreviation}}</p>
              <div><i class="fa {{type.icon}} fa-2x"></i></div>
            </div>
          </a>
        </div>
      </div>
      <button class="btn btn-link" [routerLink]="['/']">Cancel</button>
    </div>
  </div>
</section>
