<section class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <app-item-search></app-item-search>
      </div>

      <div class="col-lg-6">
        <div class="pull-right">
          <button class="btn btn-primary" routerLink="/item/create/select-type">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create Item or Stimulus
          </button>
        </div>

        <div class="pull-right">
          <div *ngIf="showLink">
            <button class="btn btn-info" routerLink="{{itemUrl}}">
              {{itemLink}}
            </button>
            &nbsp;&nbsp;
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
