<section class="main">

    <div class="container">
        <!--
        <form class="form-inline">
          <input class="form-control" size="40" type="text">&nbsp;&nbsp;
          <button class="btn btn-secondary" routerLink="/">Find item or stimulus</button>
        </form>
        -->
        <button class="btn btn-primary pull-right" routerLink="/item/create/select-type">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create Item or Stimulus
        </button>
    </div>
</section>
