<section class="main">
  <div class="container">

    <!-- Item details -->
    <div *ngIf="!serviceError">
      <div *ngIf="!isNotEditable()">
        <div *ngIf="isCreate() || isEdit() || isView()">

          <!-- Auto-save -->
          <div class="pull-right txt-alert green">
            <i class="fa fa-check" aria-hidden="true"></i> Saved
          </div>
          <div style="display:none" class="pull-right txt-alert aqua">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Saving
          </div>
          <div style="display:none" class="pull-right txt-alert orange">
            <i class="fa fa-asterisk" aria-hidden="true"></i> Changed
          </div>

          <!-- Item title -->
          <div class="page-title">
            <h1>
              <span class="item-type-icon"><i class="fa {{currentItemType.icon}}"></i></span>
              <span class="item-type-name">{{currentItemType.name}}
                <span class="item-type-abb">({{currentItemType.abbreviation}})</span></span>
              <span class="item-type-mode">{{mode}} Item:
                <span class="item-type-id">{{currentItem.id}}</span></span>
            </h1>
          </div>

          <!-- Left 6 columns -->
          <div class="col-md-6">
            <!-- Item details -->
            <load-sa-item *ngIf="currentItem.type=='sa'" [item]="currentItem" [isView]="isView()"></load-sa-item>

            <!-- Action buttons -->
            <div class="row">
              <div class="col-lg-12">
                <div *ngIf="isCreate()">
                  <button class="btn btn-primary" (click)="commitModal.show()">Create Item</button>
                  <button class="btn btn-link" (click)="cancelModal.show()">Cancel</button>
                </div>
                <div *ngIf="isView()">
                  <button class="btn btn-primary" (click)="goHome()">Done</button>
                  <button class="btn btn-primary" (click)="editItem()">Edit</button>
                </div>
                <div *ngIf="isEdit()">
                  <button class="btn btn-primary" (click)="commitModal.show()">Commit Changes
                  </button>
                  <button class="btn btn-link" (click)="cancelModal.show()">Discard Changes
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Right 6 columns -->
          <div class="col-md-6 ">
            <div class="item-box">
              <!-- Item history -->
              <item-history [itemId]="currentItem.id"></item-history>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Error messages -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Error message -->
        <div *ngIf="serviceError">
          <alert type="danger">{{errorMessage}}</alert>
          <p>
            <button class="btn btn-primary" routerLink="/">Return Home</button>
          </p>
        </div>

        <!-- "Currently being edited" message -->
        <div *ngIf="isNotEditable()">
          <alert type="danger">Item is currently being edited by {{currentItem?.beingEditedBy}}</alert>
          <p>
            <button class="btn btn-primary" routerLink="/">Return Home</button>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Modal -->
<div id="commitModal" class="modal fade" bsModal #commitModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="commitModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="commitModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="commitModalLabel">Confirm Commit</h3>
      </div>
      <div *ngIf="isCreate()" class="modal-body">
        <span>Are you sure you want to finish creating this item and add it to the item bank?</span>
      </div>
      <div *ngIf="isEdit()" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            Are you sure you want to commit your changes to the item bank?
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">Please enter the reason for your changes to this item.</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <form [formGroup]="commitForm">
                <span>Reason: </span>
                <input formControlName="commitMsg" type="text" placeholder="Enter change reason here"
                       class="modal-form-control" maxlength="100" size="50">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isCreate()" type="button" class="btn btn-primary btn-small" (click)="createItem()">Yes
        </button>
        <button *ngIf="isEdit()" type="button" class="btn btn-primary btn-small" (click)="commitItem()">Yes
        </button>
        <button type="button" class="btn btn-default btn-small" data-dismiss="modal" (click)="commitModal.hide()">No
        </button>
      </div>
    </div>
  </div>
</div>

<div id="cancelModal" class="modal fade" bsModal #cancelModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="cancelModalLabel">Confirm Cancel</h3>
      </div>
      <div class="modal-body">
        <span
          *ngIf="isCreate()">Are you sure you want to cancel creating this item and lose all changes you have made?</span>
        <span
          *ngIf="isEdit()">Are you sure you want to discard all changes you've made since you've started editing?</span>
      </div>
      <div class="modal-footer">
        <button *ngIf="isCreate()" type="button" class="btn btn-primary btn-small" (click)="cancelCreate()">Yes
        </button>
        <button *ngIf="isEdit()" type="button" class="btn btn-primary btn-small" (click)="cancelEdit()">
          Yes
        </button>
        <button type="button" class="btn btn-default btn-small"
                data-dismiss="modal" (click)="cancelModal.hide()">No
        </button>
      </div>
    </div>
  </div>
</div>
